# Table of Contents
- Data Types
  - Integer - int
  - Float - float
  - String - str
  - Boolean - bool
- Operators
  - Comparison Operators
     - Equals ==
     - Greater than >
     - Greater than or equal to >=
     - Less than <
     - Less than or equal to <=
     - Not Equal !=
  - Logical Operators
     - AND and
     - OR or
     - NOT not
- Collections
  - Lists - Define, Index, Add, Delete, Update
  - Tuples - Define, Index, Add,Delete,Update not Supported
  - Dictionaries - Define, Index, Add, Delete, Update

# Integer Type Play

In [6]:
x = 2
type(x)

int

In [10]:
type(2)

int

# Float Type Play

In [7]:
x = 3.0
type(x)

float

In [11]:
type(3.0)

float

# String Type Play

In [8]:
x = "Hello World"
type(x)

str

In [12]:
type("Hello World")

str

# Boolean Type Play

In [9]:
x = False
type(x)

bool

In [13]:
type(True)

bool

# Equals == Operator Play

In [15]:
x = 3
y = 3
z = 5
print (x == y)
print (x == z)

True
False

# Greater than > Operator Play

In [17]:
x = 5
y = 9
print(x > y)

False

# Greater than or equal to >= Operator Play

In [18]:
x = 5
y = 9
print(x >= y)

False

# Less than < Operator Play

In [19]:
x = 5
y = 9
print(x < y)

True

# Less than or equal to <= Operator Play

In [20]:
x = 5
y = 9
print(x <= y)

True

# Not Equal != Operator Play

In [21]:
x = 5
y = 9
print(x != y)

True

# Logical Operators AND and Operator Play
# and Truth Table

Rule:
If the first operand is falsy → return it.
Otherwise → return the second operand.

# x	      y	    x and y
False	False	False
False	True	False
True	False	False
True	True	True
0	    5	    0
5	    0	    0
5	    9	    9
""	   "Hi"	    ""
"Hi"   "World"	"World"

In [23]:
x = 5
y = 9
z = x and y
print(z)

9

# Logical Operators OR or Operator Play
# or Truth Table

Rule:
If the first operand is truthy → return it.
Otherwise → return the second operand.

x	     y	    x or y
False	False	False
False	True	True
True	False	True
True	True	True
0	    5	    5
5	    0	    5
""	    "Hi"	"Hi"
"Hi"	"World"	"Hi"

In [24]:
x = 5
y = 9
z = x or y
print(z)

5

# Logical Operators NOT not Operator Play
# not Truth Table

Rule: Always returns a Boolean (True/False), regardless of operand type.

# x	    not x
False	True
True	False
0	    True
5	    False
""	    True
"Hi"	False

In [25]:
x = 5
z = not x
print(z)

False

# Collections - Lists

In [32]:
#define list
numberlist = [1,2,3,4,5]

#index list
print(numberlist[1])

2

In [33]:
#define list of list
listofList = [["a",1], ["b",2], ["c",3]]

#index list of list
print(listofList[2][1])

3

In [34]:
#copy part of one list to another
list1 = [2,3,4,5]
list2 = list1[1:3] #slice list - lower bound inclusive, upper bound exclusive
print(list2)

[3, 4]

In [35]:
# Add to List
list1 = [1,2,3,4]
list2 = [5,6]
list1 = list1 + list2;
print(list1)

[1, 2, 3, 4, 5, 6]

In [36]:
#Delete from list
list1 = [1,2,3,4,5,6]
del(list1[1])
print(list1)

[1, 3, 4, 5, 6]

In [38]:
#Update list
list = [1,2,3,4,5,6]
list[1] = 7
print(list)

[1, 7, 3, 4, 5, 6]

# Collections - Tuples
Tuples are immutable while lists are mutable

In [40]:
#define Tuple
numberTuple = (1,2,3,4,5)

#index tuple
print(numberTuple[1])

2

In [41]:
#define Tuple of Tuple
tupleofTuple = (("a",1), ("b",2), ("c",3))

#index Tuple of Tuple
print(tupleofTuple[2][1])

3

In [44]:
#copy part of one tuple to another
tuple1 = (2,3,4,5)
tuple2 = tuple1[1:3] #slice list - lower bound inclusive, upper bound exclusive
print(tuple2)

(3, 4)

In [46]:
# Add to List
tuple1 = (1,2,3,4)
tuple2 = (5,6)
tuple1 = tuple1 + tuple2;
print(tuple1)

(1, 2, 3, 4, 5, 6)

In [47]:
#Delete from list
tuple1 = (1,2,3,4,5,6)
del(tuple1[1]) #error thrown as tuple dosent support mutation
print(tuple1)

TypeError: 'tuple' object doesn't support item deletion

In [48]:
#Update tuple - throws error
tuple = (1,2,3,4,5,6)
tuple[1] = 7
print(tuple)

TypeError: 'tuple' object does not support item assignment

In [51]:
#Assign tuple elements as variables
tuple = (1,2,3)
var1 = tuple[1]
var2, var3, var4 = tuple
print(var1, var2, var3, var4)

2 1 2 3

# Collections - Dictionaries: key/value map

In [53]:
#define dictionaries
dict = {"a":1,
        "b":2,
        "c":3,
        "d":4,
        "e":5
       }

#index dict
print(dict["a"])

1

In [56]:
#define dict of dict
dictofDict = { 
 "Cars":
    {"honda":"grey",
     "maruti":"white",
     "jeep":"black"
    },
 "Countries":
     {"US":"Washington",
      "india":"Bangalore"
     }
}
    

#index dict of dict
print(dictofDict["Countries"]["india"])

Bangalore

In [58]:
# Add to dict
dict1 = {"a":1, "b":2, "c":3}
dict2 = {"d":4, "e":5}
dict1 = dict1 | dict2;
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [60]:
#Delete from dict
dict1 = {"a":1, "b":2, "c":3}
del(dict1["b"])
print(dict1)

{'a': 1, 'c': 3}

In [61]:
#Update dict
dict = {"a":1, "b":2, "c":3}
dict["b"] = 7
print(dict)

{'a': 1, 'b': 7, 'c': 3}

In [70]:
import pandas as pd
dict = {'name':['mary','john','rosy'], 'height':[6,5,4]}
dataframe = pd.DataFrame(dict)
dataframe.info()
dataframe.describe()
dataframe.head()
dataframe.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   height  3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

   name  height
0  mary       6
1  john       5
2  rosy       4

In [63]:
import numpy as np
import pandas as pd

np.array([1,2,3,4])

array([1, 2, 3, 4])

In [79]:
import pandas as pd

dataframe = pd.read_csv('timeseries.csv')
dataframe.set_index('Date')
dataframe

            Date  Consumption     Wind   Solar  Wind+Solar
0     2015-01-01   1111.33600  325.128  17.079     342.207
1     2015-01-02   1300.88400  603.558   7.758     611.316
2     2015-01-03   1265.27100  462.953   7.236     470.189
3     2015-01-04   1198.85400  385.024  19.984     405.008
4     2015-01-05   1449.86100  216.543  26.524     243.067
...          ...          ...      ...     ...         ...
1091  2017-12-27   1263.94091  394.507  16.530     411.037
1092  2017-12-28   1299.86398  506.424  14.162     520.586
1093  2017-12-29   1295.08753  584.277  29.854     614.131
1094  2017-12-30   1215.44897  721.247   7.467     728.714
1095  2017-12-31   1107.11488  721.176  19.980     741.156

[1096 rows x 5 columns]

In [80]:
dataframe2 = dataframe.set_index('Date')
dataframe2

            Consumption     Wind   Solar  Wind+Solar
Date
2015-01-01   1111.33600  325.128  17.079     342.207
2015-01-02   1300.88400  603.558   7.758     611.316
2015-01-03   1265.27100  462.953   7.236     470.189
2015-01-04   1198.85400  385.024  19.984     405.008
2015-01-05   1449.86100  216.543  26.524     243.067
...                 ...      ...     ...         ...
2017-12-27   1263.94091  394.507  16.530     411.037
2017-12-28   1299.86398  506.424  14.162     520.586
2017-12-29   1295.08753  584.277  29.854     614.131
2017-12-30   1215.44897  721.247   7.467     728.714
2017-12-31   1107.11488  721.176  19.980     741.156

[1096 rows x 4 columns]

In [85]:
import pandas as pd
url = 'https://data.ca.gov/dataset/cea8cd18-9d21-4676-85de-d504ee2d4aab/resource/26201f19-4469-4311-a819-bbbd3e557eda/download/ca-educational-attainment-personal-income-2008-2014.csv'
table = pd.read_csv(url)
table

HTTPError: HTTP Error 403: Forbidden

In [91]:
import pandas as pd

fraud_txn_dataframe = pd.read_csv('financial_transactions.csv')
fraud_txn_dataframe.describe()

       transaction_id       amount  customer_id    is_fraud
count      100.000000   100.000000   100.000000  100.000000
mean        50.500000  2643.000000  1005.250000    0.310000
std         29.011492  1383.032461     2.875796    0.464823
min          1.000000   500.000000  1001.000000    0.000000
25%         25.750000  1500.000000  1003.000000    0.000000
50%         50.500000  2500.000000  1005.000000    0.000000
75%         75.250000  3500.000000  1008.000000    1.000000
max        100.000000  6000.000000  1010.000000    1.000000

In [90]:
import pandas as pd

fraud_txn_dataframe = pd.read_csv('new_transactions.csv')
fraud_txn_dataframe

    transaction_id  amount transaction_type  customer_id     transaction_time
0              101    1500         Purchase         1011  2023-01-21 10:00:00
1              102    2500         Transfer         1012  2023-01-21 11:00:00
2              103    3000       Withdrawal         1013  2023-01-21 12:00:00
3              104    4500         Purchase         1014  2023-01-21 13:00:00
4              105    2000         Transfer         1015  2023-01-21 14:00:00
5              106     700         Purchase         1016  2023-01-22 10:00:00
6              107    1500         Transfer         1017  2023-01-22 11:00:00
7              108    1000       Withdrawal         1018  2023-01-22 12:00:00
8              109    3500         Purchase         1019  2023-01-22 13:00:00
9              110    4500         Transfer         1020  2023-01-22 14:00:00
10             111    2500         Purchase         1021  2023-01-23 10:00:00
11             112    1500         Transfer         1022  2023-01-23 11:00:00
12             113     500       Withdrawal         1023  2023-01-23 12:00:00
13             114    4000         Purchase         1024  2023-01-23 13:00:00
14             115    6000         Transfer         1025  2023-01-23 14:00:00
15             116    3000         Purchase         1026  2023-01-24 10:00:00
16             117    4500         Transfer         1027  2023-01-24 11:00:00
17             118    2000       Withdrawal         1028  2023-01-24 12:00:00
18             119    1500         Purchase         1029  2023-01-24 13:00:00
19             120    5000         Transfer         1030  2023-01-24 14:00:00
20             121     700         Purchase         1031  2023-01-25 10:00:00
21             122    1500         Transfer         1032  2023-01-25 11:00:00
22             123    1000       Withdrawal         1033  2023-01-25 12:00:00
23             124    3500         Purchase         1034  2023-01-25 13:00:00
24             125    4500         Transfer         1035  2023-01-25 14:00:00
25             126    2000         Purchase         1036  2023-01-26 10:00:00
26             127    1500         Transfer         1037  2023-01-26 11:00:00
27             128    3000       Withdrawal         1038  2023-01-26 12:00:00
28             129    4000         Purchase         1039  2023-01-26 13:00:00
29             130    5000         Transfer         1040  2023-01-26 14:00:00
30             131    2500         Purchase         1041  2023-01-27 10:00:00
31             132    3500         Transfer         1042  2023-01-27 11:00:00
32             133    1000       Withdrawal         1043  2023-01-27 12:00:00
33             134    1500         Purchase         1044  2023-01-27 13:00:00
34             135    3000         Transfer         1045  2023-01-27 14:00:00
35             136     700         Purchase         1046  2023-01-28 10:00:00
36             137    2000         Transfer         1047  2023-01-28 11:00:00
37             138    3000       Withdrawal         1048  2023-01-28 12:00:00
38             139    4000         Purchase         1049  2023-01-28 13:00:00
39             140    5000         Transfer         1050  2023-01-28 14:00:00
40             141    2500         Purchase         1051  2023-01-29 10:00:00
41             142    3500         Transfer         1052  2023-01-29 11:00:00
42             143    1000       Withdrawal         1053  2023-01-29 12:00:00
43             144    1500         Purchase         1054  2023-01-29 13:00:00
44             145    3000         Transfer         1055  2023-01-29 14:00:00
45             146     700         Purchase         1056  2023-01-30 10:00:00
46             147    2000         Transfer         1057  2023-01-30 11:00:00
47             148    3000       Withdrawal         1058  2023-01-30 12:00:00
48             149    4000         Purchase         1059  2023-01-30 13:00:00
49             150    5000         Transfer         1060  2023-01-30 14:00:00

In [93]:
import pandas as pd

bank_fraud_txn_dataframe = pd.read_csv('banking_fraud_dataset.csv')
bank_fraud_txn_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Transaction_ID        10000 non-null  object
 1   Customer_ID           10000 non-null  object
 2   Transaction_Amount    10000 non-null  float64
 3   Transaction_Type      10000 non-null  object
 4   Transaction_Location  10000 non-null  object
 5   Transaction_Time      10000 non-null  object
 6   Device_Used           10000 non-null  object
 7   Account_Age           10000 non-null  int64
 8   Credit_Score          10000 non-null  int64
 9   Previous_Fraud        10000 non-null  int64
 10  Is_Fraud              10000 non-null  int64
dtypes: float64(1), int64(4), object(6)
memory usage: 859.5+ KB