#                                            Python Basics
## Table of Contents
- Data Types
  - Integer - int
  - Float - float
  - String - str
  - Boolean - bool
- Operators
  - Comparison Operators
     - Equals ==
     - Greater than >
     - Greater than or equal to >=
     - Less than <
     - Less than or equal to <=
     - Not Equal !=
  - Logical Operators
     - AND and
     - OR or
     - NOT not
- Collections
  - Lists - Define, Index, Add, Delete, Update
  - Tuples - Define, Index, Add,Delete,Update not Supported
  - Dictionaries - Define, Index, Add, Delete, Update

# Integer Type Play

In [6]:
x = 2
type(x)

int

In [10]:
type(2)

int

# Float Type Play

In [7]:
x = 3.0
type(x)

float

In [11]:
type(3.0)

float

# String Type Play

In [8]:
x = "Hello World"
type(x)

str

In [12]:
type("Hello World")

str

# Boolean Type Play

In [9]:
x = False
type(x)

bool

In [13]:
type(True)

bool

# Equals == Operator Play

In [15]:
x = 3
y = 3
z = 5
print (x == y)
print (x == z)

True
False

# Greater than > Operator Play

In [17]:
x = 5
y = 9
print(x > y)

False

# Greater than or equal to >= Operator Play

In [18]:
x = 5
y = 9
print(x >= y)

False

# Less than < Operator Play

In [19]:
x = 5
y = 9
print(x < y)

True

# Less than or equal to <= Operator Play

In [20]:
x = 5
y = 9
print(x <= y)

True

# Not Equal != Operator Play

In [21]:
x = 5
y = 9
print(x != y)

True

# Logical Operators AND and Operator Play
# and Truth Table

Rule:
If the first operand is falsy → return it.
Otherwise → return the second operand.

# x	      y	    x and y
False	False	False
False	True	False
True	False	False
True	True	True
0	    5	    0
5	    0	    0
5	    9	    9
""	   "Hi"	    ""
"Hi"   "World"	"World"

In [23]:
x = 5
y = 9
z = x and y
print(z)

9

# Logical Operators OR or Operator Play
# or Truth Table

Rule:
If the first operand is truthy → return it.
Otherwise → return the second operand.

x	     y	    x or y
False	False	False
False	True	True
True	False	True
True	True	True
0	    5	    5
5	    0	    5
""	    "Hi"	"Hi"
"Hi"	"World"	"Hi"

In [24]:
x = 5
y = 9
z = x or y
print(z)

5

# Logical Operators NOT not Operator Play
# not Truth Table

Rule: Always returns a Boolean (True/False), regardless of operand type.

# x	    not x
False	True
True	False
0	    True
5	    False
""	    True
"Hi"	False

In [25]:
x = 5
z = not x
print(z)

False

# Collections - Lists

In [32]:
#define list
numberlist = [1,2,3,4,5]

#index list
print(numberlist[1])

2

In [33]:
#define list of list
listofList = [["a",1], ["b",2], ["c",3]]

#index list of list
print(listofList[2][1])

3

In [34]:
#copy part of one list to another
list1 = [2,3,4,5]
list2 = list1[1:3] #slice list - lower bound inclusive, upper bound exclusive
print(list2)

[3, 4]

In [35]:
# Add to List
list1 = [1,2,3,4]
list2 = [5,6]
list1 = list1 + list2;
print(list1)

[1, 2, 3, 4, 5, 6]

In [36]:
#Delete from list
list1 = [1,2,3,4,5,6]
del(list1[1])
print(list1)

[1, 3, 4, 5, 6]

In [38]:
#Update list
list = [1,2,3,4,5,6]
list[1] = 7
print(list)

[1, 7, 3, 4, 5, 6]

# Collections - Tuples
Tuples are immutable while lists are mutable

In [40]:
#define Tuple
numberTuple = (1,2,3,4,5)

#index tuple
print(numberTuple[1])

2

In [41]:
#define Tuple of Tuple
tupleofTuple = (("a",1), ("b",2), ("c",3))

#index Tuple of Tuple
print(tupleofTuple[2][1])

3

In [44]:
#copy part of one tuple to another
tuple1 = (2,3,4,5)
tuple2 = tuple1[1:3] #slice list - lower bound inclusive, upper bound exclusive
print(tuple2)

(3, 4)

In [46]:
# Add to List
tuple1 = (1,2,3,4)
tuple2 = (5,6)
tuple1 = tuple1 + tuple2;
print(tuple1)

(1, 2, 3, 4, 5, 6)

In [47]:
#Delete from list
tuple1 = (1,2,3,4,5,6)
del(tuple1[1]) #error thrown as tuple dosent support mutation
print(tuple1)

TypeError: 'tuple' object doesn't support item deletion

In [48]:
#Update tuple - throws error
tuple = (1,2,3,4,5,6)
tuple[1] = 7
print(tuple)

TypeError: 'tuple' object does not support item assignment

In [51]:
#Assign tuple elements as variables
tuple = (1,2,3)
var1 = tuple[1]
var2, var3, var4 = tuple
print(var1, var2, var3, var4)

2 1 2 3

# Collections - Dictionaries: key/value map

In [53]:
#define dictionaries
dict = {"a":1,
        "b":2,
        "c":3,
        "d":4,
        "e":5
       }

#index dict
print(dict["a"])

1

In [56]:
#define dict of dict
dictofDict = { 
 "Cars":
    {"honda":"grey",
     "maruti":"white",
     "jeep":"black"
    },
 "Countries":
     {"US":"Washington",
      "india":"Bangalore"
     }
}
    

#index dict of dict
print(dictofDict["Countries"]["india"])

Bangalore

In [58]:
# Add to dict
dict1 = {"a":1, "b":2, "c":3}
dict2 = {"d":4, "e":5}
dict1 = dict1 | dict2;
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [60]:
#Delete from dict
dict1 = {"a":1, "b":2, "c":3}
del(dict1["b"])
print(dict1)

{'a': 1, 'c': 3}

In [61]:
#Update dict
dict = {"a":1, "b":2, "c":3}
dict["b"] = 7
print(dict)

{'a': 1, 'b': 7, 'c': 3}